// main: .
@import "../../../assets/scss/mixins.scss";

.home {
    &__contact {
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        box-sizing: border-box;
        height: 186px;
        width: 100%;
        display: flex;
        align-items: center;

        @include tablet-mobil {
            height: auto;
            background-position: center left;
            padding: 20px 0;
        }

        h2 {
            color: #ffffff;
            font-weight: 500;
            font-size: 36px;
            line-height: 54px;

            @include tablet-mobil {
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }

        p {
            color: #ffffff;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            padding: 0 40px;

            @include tablet-mobil {
                padding: 0;
                font-size: 18px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }
    }
}