.blog__sidebar {
  background-color: #f3f3f3;
  padding: 60px 40px 60px 40px;
}

.blog__sidebar-title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 12px;
}

.blog__sidebar-links {
  display: flex;
  flex-direction: column;
}

.blog__sidebar-link {
  color: #666;
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
