// main .
@import "../../../assets/scss/mixins.scss";

.page {
    &__header {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 250px;
        display: flex;
        margin-bottom: 100px;

        @include tablet-mobil {
            margin-bottom: 20px;
            min-height: 140px;
        }

        &-content {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &-title {
            font-size: 48px;
            color: #ffffff;
            font-weight: 700;
            margin: 0 0 0;
            line-height: 1;

            @include tablet-mobil {
                font-size: 32px;
            }
        }
    }
}