// main .

.page {
    &__header {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 250px;
        display: flex;

        &-content {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &-title {
            font-size: 48px;
            color: #ffffff;
            font-weight: 700;
            margin: 0 0 0;
            line-height: 48px;
        }
    }
}