// main: .

.home {
    &__team {
        margin-bottom: 165px;
        padding: 154px 0;

        &-title {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 64px;
            line-height: 96px;
            margin-bottom: 0;
        }

        &-description {
            color: #E0E0E0;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
        }

        &-list {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        &-circle {
            border-radius: 50%;
            border: 7px rgba(53, 53, 53, 1) solid;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            min-height: 110px;
            min-width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 14px;
        }

        &-text {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
        }
    }
}