// main: main.scss

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?cvua7d");
    src: url("../fonts/icomoon.eot?cvua7d#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?cvua7d") format("truetype"), url("../fonts/icomoon.woff?r813z0") format("woff"),
        url("../fonts/icomoon.svg?cvua7d#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
    content: "\e902";
}
.icon-left:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e905";
}
.icon-more:before {
    content: "\e906";
}
.icon-map:before {
    content: "\e907";
}
.icon-up:before {
    content: "\e908";
}
.icon-facebook:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-linkedin:before {
    content: "\e90b";
}
.icon-instagram:before {
    content: "\e90c";
}
.icon-phone:before {
    content: "\e900";
}
.icon-email:before {
    content: "\e901";
}
