// main: main.scss
$base-font: 'Gotham', sans-serif;
$baseFontSize: 10px;

$color-default: #4B2513;
$color-green: #7DBB48;
$color-text: #5B5C5A;
$color-white: #FFFFFF;
$color-grey: #DDDDDD;
$color-light-grey: #F7F7F7;
$color-dark-grey: #EEF0EC;
$color-border-grey: #E2DEDC;
$color-nav-grey: #DEE1DB;
$color-black: #000000;