// main: ../main.scss

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 14px 32px;

    &--default {
        border: 2px solid #000000;
        color: #000000;
    }

    &--black {
        background-color: #000000;
        color: #ffffff;
    }

    &--white {
        border: 2px solid #ffffff;
        color: #ffffff;
    }
}