// main: .

.home {
    &__whyus {
        margin-bottom: 162px;
        
        h2 {
            color: #000000;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 34px;
        }

        p {
            color: #6C6C6C;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 12px;

            strong {
                color: #000000;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}