// main: .
@import "../../../assets/scss/mixins.scss";

.home {
    &__whyus {
        margin-bottom: 162px;

        @include tablet-mobil {
            margin-bottom: 20px;
        }

        &-row {
            @include tablet-mobil {
                flex-direction: column-reverse;
            }
        }

        &-img {
            @include tablet-mobil {
                margin-bottom: 40px;
            }
        }
        
        h2 {
            color: #000000;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 34px;

            @include tablet-mobil {
                font-size: 36px;
                line-height: 1;
                margin-bottom: 20px;
            }
        }
    }
}