// main .

.blog {
    &__sidebar {
        background-color: #f3f3f3;
        padding: 60px 40px 60px 40px;

        &-title {
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 12px;
        }

        &-links {
            display: flex;
            flex-direction: column;
        }

        &-link {
            color: #666;
            font-size: 14px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}