// main .

.blog {
    &__detail {
        margin: 0 0 40px;
        
        &-content {
            padding: 0 0 30px 0;

            h2 {
                font-size: 24px;
                color: #000000;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 42px;
                word-wrap: break-word;
            }

            p {
                font-size: 16px;
                color: #6c6c6c;
                margin: 0 0 25px;
            }
        }

        &-property {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 25px;

            > span {
                margin-right: 28px;
                color: #666666;
                font-size: 14px;

                a {
                    color: #000000;
                }
            }
        }
    }
}