// main .

@import "../../../assets/scss/mixins.scss";

.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 43px rgba(183, 183, 183, 0.25);

    &--open {
        .header__menu {
            display: flex;
        }
    }

    &__top {
        background-color: #000000;
        padding: 16px 0;

        @include tablet-mobil {
            background-color: #FFFFFF;
            border-radius: 50%;
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: 60px;
            height: 60px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 98;
        }

        &-text {
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin-right: 20px;

            @include tablet-mobil {
                font-size: 16px;
                margin: 0;
                width: 100%;
                justify-content: center;
            }

            &--right {
                display: block;
                text-align: right;

                @include tablet-mobil {
                    display: none;
                }
            }

            &:first-child {
                @include tablet-mobil {
                    display: none;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            i {
                font-size: 16px;
                margin-right: 6px;

                @include tablet-mobil {
                    font-size: 24px;
                    color: #000000;
                }
            }

            a {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                @include tablet-mobil {
                    display: none;
                    color: #000000;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 34px 0;

        @include tablet-mobil {
            padding: 10px 0;
        }
    }

    &__logo {
        img {
            @include tablet-mobil {
                max-width: 100px;
                max-height: 100px;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__nav {
        display: none;
        @include tablet-mobil {
            display: block;
            position: relative;
            width: 40px;
            height: 20px;
            background-color: transparent;
            border: 0;
            outline: 0;
            
            &:hover, &:active {
                outline: 0;
            }

            &::before, &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: #000000;
                position: absolute;
                right: 0;
            }

            span {
                width: 100%;
                height: 2px;
                background-color: #000000;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -1px;
            }

            &::before {
                width: 80%;
                top: 0;
            }

            &::after {
                width: 60%;
                bottom: 0;
            }

            &--active {
                span {
                    transform: rotate(45deg);
                }

                &::before {
                    transform: rotate(-45deg);
                    width: 100%;
                    top: 9px;
                }

                &::after {
                    display: none;
                }
            }
        }
    }

    &__menu {
        display: flex;

        @include tablet-mobil {
            display: none;
            position: absolute;
            left: 0;
            top: 124px;
            width: 100%;
            height: calc(100% - 124px);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            z-index: 99;
        }

        &-item {
            margin: 0 24px;

            @include tablet-mobil {
                margin: 20px 0;
            }
        }

        &-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #989898;

            @include tablet-mobil {
                font-size: 20px;
                color: #FFFFFF;
            }
        }
    }
}